<div class="pages page-blog" id="page-blog">
      <div class="container">
        <!-- Header -->
        <header>
          <h4 class="line-divider">Blog</h4>
          <h1>Recent Blog Posts</h1>
        </header>
        <!-- End Header -->

        <!-- Article -->
        <article>
          <!-- Blog articles -->
          <ul class="thumbnails">
            <!-- Blog post -->
            <li class="span4">

              <!-- Blog image -->
              <%= link_to("http://blog.ianmiller.nyc/blog/2014/11/04/the-voice-in-the-background/", target: "_blank") do %>
                <%= image_tag 'https://s3.amazonaws.com/archaic-positives/blog_1.jpg', height: "220", width: "390", alt: "Blog_1" %>
              <% end %>

              <!-- Blog title -->
              <h5>
                You're Not an Impostor<br/>
                <small>November 24, 2014</small>
              </h5>

              <!-- Blog post description -->
              <p class="smallFontBy08">How to Manage Expectations as a new developer.</p>

              <!-- Blog read more -->
              <div class="read-more">
                <a href="http://blog.ianmiller.nyc/blog/2014/11/04/the-voice-in-the-background/">Read More...</a>
              </div>
            </li>
            <li class="span4">
              <%= link_to("http://blog.ianmiller.nyc/blog/2014/09/29/working-with-rack-sessions/", target: "_blank") do %>
                <%= image_tag 'https://s3.amazonaws.com/archaic-positives/blog_2.jpg', height: "220", width: "390", alt: "Blog_2" %>
              <% end %>
              <h5>
                Working with Rack Sessions<br/>
                <small>June 13, 2014</small>
              </h5>
              <p class="smallFontBy08">I ran into an issue with Rack Sessions, and was unable to figure out how to write tests for it. How I ultimately resolved the problem.</p>
              <div class="read-more">
                <a href="http://blog.ianmiller.nyc/blog/2014/09/29/working-with-rack-sessions/">Read More...</a>
              </div>
            </li>
            <li class="span4">
              <%= link_to("http://blog.ianmiller.nyc/blog/2014/05/04/intersection-between-tolstoy-and-agile-programming/", target: "_blank") do %>
                <%= image_tag 'https://s3.amazonaws.com/archaic-positives/blog_3.jpg', height: "220", width: "390", alt: "Blog_3" %>
              <% end %>
              </a>
              <h5>
                Intersection between Tolstoy and Agile Programming<br/>
                <small>May 22, 2014</small>
              </h5>
              <p class="smallFontBy08">Thoughts gleaned from a TEDTalks episode with Bruce Feiler, and how it relates to Agile Programming.</p>
              <div class="read-more">
                <a href="http://blog.ianmiller.nyc/blog/2014/05/04/intersection-between-tolstoy-and-agile-programming/">Read More...</a>
              </div>
            </li>
            <li class="span4">
              <%= link_to("http://blog.ianmiller.nyc/blog/2014/04/18/rspec-testing-for-a-json-api/", target: "_blank") do %>
                <%= image_tag 'https://s3.amazonaws.com/archaic-positives/blog_4.jpg', height: "220", width: "390", alt: "Blog_4" %>
              <% end %>
              <h5>
                RSpec Testing for a JSON API<br/>
                <small>April 10, 2013</small>
              </h5>
              <p class="smallFontBy08">A simple implementation of a namespaced JSON API, and how to write effective tests for it.</p>
              <div class="read-more">
                <a href="http://blog.ianmiller.nyc/blog/2014/04/18/rspec-testing-for-a-json-api/">Read More...</a>
              </div>
            </li>
            <li class="span4">

               <%= link_to("http://blog.ianmiller.nyc/blog/2014/04/01/strong-params-in-rails/", target: "_blank") do %>
                <%= image_tag 'https://s3.amazonaws.com/archaic-positives/blog_5.jpg', height: "220", width: "390", alt: "Blog_5" %>
              <% end %>
              <h5>
              Strong Params in Rails<br/>
              <small>March 10, 2014</small>
              </h5>
              <p class="smallFontBy08">A primer on what the concept of strong params is in Rails, and what it does.</p>
              <div class="read-more">
                <a href="http://blog.ianmiller.nyc/blog/2014/04/01/strong-params-in-rails/">Read More...</a>
              </div>
            </li>
            <li class="span4">
               <%= link_to("http://blog.ianmiller.nyc/blog/2014/03/19/rails-caching/", target: "_blank") do %>
                <%= image_tag 'https://s3.amazonaws.com/archaic-positives/blog_6.jpg', height: "220", width: "390", alt: "Blog_6" %>
              <% end %>
              <h5>
                Rails Caching<br/>
                <small>February 18, 2014</small>
              </h5>
              <p class="smallFontBy08">Rails Caching is the process of preventing extensive database querying by storing page elements in a memory store.</p>
              <div class="read-more">
                <a href="http://blog.ianmiller.nyc/blog/2014/03/19/rails-caching/">Read More...</a>
              </div>
            </li>
          </ul>
        </article>
        <!-- End Article -->
      </div>
  </div>
