<nav class="fixed-top" id="navigation">
  <div class="container">
    <div class="row-fluid">
      <div class="span12 center">
        <!-- LOGO -->
        <a class="brand pull-left" href="./">
          <%= image_tag "https://s3.amazonaws.com/archaic-positives/irm_logo_gradient.png", alt: "IRM", height: "30", width: "30" %>
        </a>
        <!-- END LOGO -->

        <!-- MOBILE MENU BUTTON -->
        <div class="mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <!-- END MOBILE MENU BUTTON -->

        <!-- MAIN MENU -->
        <ul id="main-menu" class="nav-collapse collapse">
            <li><%= link_to "Home", "#page-welcome" %></li>
            <li><%= link_to "Work", "#page-work" %></li>
            <li><%= link_to "Interests", "#page-interests" %></li>
            <li><%= link_to "Blog", "#page-blog" %></li>
            <li><%= link_to "Contact", "#page-contact" %></li>
        </ul>
        <!-- END MAIN MENU -->

        <!-- SOCIAL ICONS -->
        <div class="social-icons hover-big pull-right">
            <a href="http://www.facebook.com/<%= ian.facebook %>" target="_blank" class="sicon-facebook"><i>Facebook</i></a>
            <a href="http://www.twitter.com/<%= ian.twitter %>" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
            <a href="http://www.linkedin.com/in/<%= ian.linkedin %>" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
        </div>
        <!-- END SOCIAL ICONS -->
      </div>
    </div>
  </div>
</nav>
