<!-- NAVIGATION -->
  <nav class="fixed-top" id="navigation">
    <div class="container">
      <div class="row-fluid">
        <div class="span12 center">
          <!-- LOGO -->
          <a class="brand pull-left" href="./">
            <%= image_tag "https://s3.amazonaws.com/archaic-positives/irm_logo_gradient.png", alt: "IRM", height: "30", width: "30" %>
          </a>
          <!-- END LOGO -->

          <!-- MOBILE MENU BUTTON -->
          <div class="mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </div>
          <!-- END MOBILE MENU BUTTON -->

          <!-- MAIN MENU -->
          <ul id="main-menu" class="nav-collapse collapse">
              <li><%= link_to "Home", "#page-welcome" %></li>
              <li><%= link_to "Work", "#page-work" %></li>
              <li><%= link_to "Interests", "#page-interests" %></li>
              <li><%= link_to "Blog", "#page-blog" %></li>
              <li><%= link_to "Contact", "#page-contact" %></li>
          </ul>
          <!-- END MAIN MENU -->

          <!-- SOCIAL ICONS -->
          <div class="social-icons hover-big pull-right">
              <a href="http://www.facebook.com/<%= @ian.facebook %>" target="_blank" class="sicon-facebook"><i>Facebook</i></a>
              <a href="http://www.twitter.com/<%= @ian.twitter %>" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
              <a href="http://www.linkedin.com/in/<%= @ian.linkedin %>" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
          </div>
          <!-- END SOCIAL ICONS -->
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAVIGATION -->

  <!-- PAGE | WELCOME -->
  <div class="pages white paralax page-welcome" id="page-welcome">
    <div class="overlay"></div>
    <!-- Centralized content -->
    <div class="centralized">
      <div class="container">
        <div class="row-fluid">
          <div class="span12 center">
            <!-- Animated logo -->
            <div class="logo">
              <div class="scrollNormal">
                <a href="#page-work">
                  <%= image_tag "https://s3.amazonaws.com/archaic-positives/irm_logo.png", width: "140", height: "140", alt: "IRM" %>
                </a>
              </div>
              <div class="scrollDown">
                <a href="#page-work">
                  <%= image_tag "https://s3.amazonaws.com/archaic-positives/irm_logo_blue_gradient.png", width: "140", height: "140", alt: "IRM Gradient" %>
                </a>
              </div>
            </div>

            <div class="line-divider" id="welcome-messages">
              <ul class="slides">
                <li>
                  <h1><%= @ian.name %></h1>
                </li>
                <li>
                  <h1>Tar Heel</h1>
                </li>
                <li>
                  <h1>NYC Resident</h1>
                </li>
              </ul>
            </div>
            <p><%= @ian.position %> at <%= @ian.employer %></p>
            <div class="social-icons sicon-white bordered">
              <%= link_to "<i>Facebook</i>".html_safe, "http://www.facebook.com/#{@ian.facebook}", target: "_blank", class: "sicon-facebook" %>
              <%= link_to "<i>Twitter</i>".html_safe, "http://www.twitter.com/#{@ian.twitter}", target: "_blank", class: "sicon-twitter" %>
              <%= link_to "<i>LinkedIn</i>".html_safe, "http://www.linkedin.com/in/#{@ian.linkedin}", target: "_blank", class: "sicon-linkedin" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END PAGE | Welcome -->

  <!-- PAGE | WORK -->
  <div class="pages page-work" id="page-work">
      <div class="container">
          <!-- Header -->
          <header>
            <h4 class="line-divider">Work</h4>
            <!-- Article -->
            <article>
              <ul class="thumbnails plugin-filter-elements portfolio-items">
                <li class="span12 flatiron">
                    <a href="http://www.flatironschool.com/" target="_blank" data-destination="portfolio-items" data-insert="before">
                      <%= image_tag "https://s3.amazonaws.com/irm-logo/flatiron_logo.png", alt: "Flatiron" %>
                    </a>
                </li>
              </ul>
              </article>
              <!-- End Article -->
              <!-- Short desciption about Work in general -->
              <div class="row work-description">
                <div class="span8 offset2">
                  <h2>Instructor, Web Development Immersive</h2>
                  <p>
                    Initially began as a Junior Developer in the Labs division of Flatiron School, and am now working as an Instructor for the NYC Web Development Immersive program at Flatiron's Manhattan office.
                  </p>
                </div>
              </div>

      </div>
  </div>
  <!-- END PAGE | WORK -->

  <!-- PAGE | INTERESTS  -->
  <div class="pages white paralax page-interests" id="page-interests">
      <div class="overlay"></div>
      <div class="container">
         <!-- Header -->
        <header>
            <h4 class="line-divider">Interests</h4>
            <h1>What I'm Interested In</h1>
            <div class="row">
              <div class="span8 offset2">
                <p>
                  Outside of programming, I've very interested in all things outdoors. I enjoy walking around and exploring my current hometown of New York City, taking in the cultural and social diversity that's omnipresent.
                </p>
              </div>
            </div>
        </header>
         <!-- End Header -->

         <!-- Article -->
        <article>
          <!-- Features blocks -->
          <div class="row-fluid">
            <div class="span4 center">
              <%= image_tag "pages/features/rocket28.svg", alt: "Backpacking", class: "ico-interests", height: "70", width: "70" %>
              <h5>Backpacking</h5>
              <p class="smallFontBy08 cutBy10">Denali National Park, Outer Banks, the Quill volcano on the island of Statia, and the Milford Sound in New Zealand rank among my favorite backpacking expeditions.</p>
            </div>
            <div class="span4 center">
              <%= image_tag "pages/features/globe14.svg", alt: "Globe", class: "ico-interests", height: "70", width: "70" %>
              <h5>Traveling</h5>
              <p class="smallFontBy08 cutBy10">London, Paris, San Francisco, Seattle, Normandy, Queenstown (NZ), Sydney (AU) are among my favorite cities to travel to.</p>
            </div>
            <div class="span4 center">
              <%= image_tag "pages/features/light28.svg", alt: "Idea", class: "ico-interests", height: "70", width: "70" %>
              <h5>Reading</h5>
              <p class="smallFontBy08 cutBy10">Some of my favorite titles include <i>Norweigian Wood</i>, <i>The Time Traveler's Wife</i>, <i>From Zero to One</i>, and <i>Rework</i>.</p>
            </div>
          </div>
          <!-- Testemonials -->
          <div class="row-fluid">
            <div class="span8 offset2">
              <div class="quote center">
                <div id="quote-slider" class="slide">
                    <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item">
                        Happiness is not something that we find. It's something that we make. What's the secret to happiness in general? Try.
                        <h5>Bruce Feiler</h5>
                    </div>
                    <div class="item">
                        But all the magic I have known, I have had to make myself.
                        <h5>Shel Silverstein</h5>
                    </div>
                    <div class="item">
                        Keep your eyes on the stars, and your feet on the ground.
                        <h5>Theodore Roosevelt</h5>
                    </div>
                  </div>
                  <!-- Carousel indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#quote-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#quote-slider" data-slide-to="1"></li>
                    <li data-target="#quote-slider" data-slide-to="2"></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </article>
        <!-- End Article -->
      </div>
  </div>
  <!-- END PAGE | FEATURES -->

  <!-- PAGE | BLOG -->
  <div class="pages page-blog" id="page-blog">
      <div class="container">
        <!-- Header -->
        <header>
          <h4 class="line-divider">Blog</h4>
          <h1>Recent Blog Posts</h1>
        </header>
        <!-- End Header -->

        <!-- Article -->
        <article>
          <!-- Blog articles -->
          <ul class="thumbnails">
            <!-- Blog post -->
            <li class="span4">

              <!-- Blog image -->
              <%= link_to("http://blog.ianmiller.nyc/blog/2014/11/04/the-voice-in-the-background/", target: "_blank") do %>
                <%= image_tag 'https://s3.amazonaws.com/archaic-positives/blog_1.jpg', height: "220", width: "390", alt: "Blog_1" %>
              <% end %>

              <!-- Blog title -->
              <h5>
                You're Not an Impostor<br/>
                <small>November 24, 2014</small>
              </h5>

              <!-- Blog post description -->
              <p class="smallFontBy08">How to Manage Expectations as a new developer.</p>

              <!-- Blog read more -->
              <div class="read-more">
                <a href="http://blog.ianmiller.nyc/blog/2014/11/04/the-voice-in-the-background/">Read More...</a>
              </div>
            </li>
            <li class="span4">
              <%= link_to("http://blog.ianmiller.nyc/blog/2014/09/29/working-with-rack-sessions/", target: "_blank") do %>
                <%= image_tag 'https://s3.amazonaws.com/archaic-positives/blog_2.jpg', height: "220", width: "390", alt: "Blog_2" %>
              <% end %>
              <h5>
                Working with Rack Sessions<br/>
                <small>June 13, 2014</small>
              </h5>
              <p class="smallFontBy08">I ran into an issue with Rack Sessions, and was unable to figure out how to write tests for it. How I ultimately resolved the problem.</p>
              <div class="read-more">
                <a href="http://blog.ianmiller.nyc/blog/2014/09/29/working-with-rack-sessions/">Read More...</a>
              </div>
            </li>
            <li class="span4">
              <%= link_to("http://blog.ianmiller.nyc/blog/2014/05/04/intersection-between-tolstoy-and-agile-programming/", target: "_blank") do %>
                <%= image_tag 'https://s3.amazonaws.com/archaic-positives/blog_3.jpg', height: "220", width: "390", alt: "Blog_3" %>
              <% end %>
              </a>
              <h5>
                Intersection between Tolstoy and Agile Programming<br/>
                <small>May 22, 2014</small>
              </h5>
              <p class="smallFontBy08">Thoughts gleaned from a TEDTalks episode with Bruce Feiler, and how it relates to Agile Programming.</p>
              <div class="read-more">
                <a href="http://blog.ianmiller.nyc/blog/2014/05/04/intersection-between-tolstoy-and-agile-programming/">Read More...</a>
              </div>
            </li>
            <li class="span4">
              <%= link_to("http://blog.ianmiller.nyc/blog/2014/04/18/rspec-testing-for-a-json-api/", target: "_blank") do %>
                <%= image_tag 'https://s3.amazonaws.com/archaic-positives/blog_4.jpg', height: "220", width: "390", alt: "Blog_4" %>
              <% end %>
              <h5>
                RSpec Testing for a JSON API<br/>
                <small>April 10, 2013</small>
              </h5>
              <p class="smallFontBy08">A simple implementation of a namespaced JSON API, and how to write effective tests for it.</p>
              <div class="read-more">
                <a href="http://blog.ianmiller.nyc/blog/2014/04/18/rspec-testing-for-a-json-api/">Read More...</a>
              </div>
            </li>
            <li class="span4">

               <%= link_to("http://blog.ianmiller.nyc/blog/2014/04/01/strong-params-in-rails/", target: "_blank") do %>
                <%= image_tag 'https://s3.amazonaws.com/archaic-positives/blog_5.jpg', height: "220", width: "390", alt: "Blog_5" %>
              <% end %>
              <h5>
              Strong Params in Rails<br/>
              <small>March 10, 2014</small>
              </h5>
              <p class="smallFontBy08">A primer on what the concept of strong params is in Rails, and what it does.</p>
              <div class="read-more">
                <a href="http://blog.ianmiller.nyc/blog/2014/04/01/strong-params-in-rails/">Read More...</a>
              </div>
            </li>
            <li class="span4">
               <%= link_to("http://blog.ianmiller.nyc/blog/2014/03/19/rails-caching/", target: "_blank") do %>
                <%= image_tag 'https://s3.amazonaws.com/archaic-positives/blog_6.jpg', height: "220", width: "390", alt: "Blog_6" %>
              <% end %>
              <h5>
                Rails Caching<br/>
                <small>February 18, 2014</small>
              </h5>
              <p class="smallFontBy08">Rails Caching is the process of preventing extensive database querying by storing page elements in a memory store.</p>
              <div class="read-more">
                <a href="http://blog.ianmiller.nyc/blog/2014/03/19/rails-caching/">Read More...</a>
              </div>
            </li>
          </ul>
        </article>
        <!-- End Article -->
      </div>
  </div>
  <!-- END PAGE | BLOG -->

  <!-- PAGE | CONTACT -->
  <div class="pages black-bg white page-contact" id="page-contact">
    <div class="container">
      <!-- Header -->
      <header>
        <h4 class="line-divider">Contact</h4>
        <h1>Say hello!</h1>
        <div class="row">
          <div class="span8 offset2">
            <p>
              I like to create things with fun, open-minded people. Feel free to say hello! Even if you just want to get to know me or ask questions, I'm always happy to talk.
            </p>
          </div>
        </div>
      </header>
      <!-- End Header -->

      <!-- Start Article -->
      <article>
        <div class="row-fluid">

          <div class="span4 offset2">
            <h5>Contact Me</h5>
            <div class="media">
              <div class="social-icons sicon-white pull-left">
                <%= link_to '<i>Phone</i>'.html_safe, "tel://1-704-860-4074", class: 'sicon-phone' %>
              </div>
              <div class="media-body smallFontBy08">
                  <%= @ian.mobile_number %>
              </div>
            </div>
            <div class="media">
              <div class="social-icons sicon-white pull-left">
                <%= link_to "<i>Email</i>".html_safe, "mailto:#{@ian.email_address}", class: "sicon-mail" %>
              </div>
              <div class="media-body smallFontBy08">
                  <%= @ian.email_address %>
              </div>
            </div>
            <div class="media">
              <div class="social-icons sicon-white pull-left">
                <%= link_to '<i>Time Zone</i>'.html_safe, '#', class: "sicon-clock" %>
              </div>
              <div class="media-body smallFontBy08">
                  UTC / GMT -5
              </div>
            </div>
          </div>

          <div class="span4 offset2">
            <h5>Get Social</h5>
            <div class="social-icons sicon-white bordered">
              <%= link_to '<i>Facebook</i>'.html_safe, "http://www.facebook.com/#{@ian.facebook}", class: "sicon-facebook" %>
              <%= link_to '<i>Twitter</i>'.html_safe, "http://www.twitter.com/#{@ian.twitter}", class: "sicon-twitter" %>
              <%= link_to '<i>LinkedIn</i>'.html_safe, "http://www.linkedin.com/in/#{@ian.linkedin}", class: "sicon-linkedin" %>
            </div>
          </div>
          <!-- End Contact information -->
        </div>
      </article>
      <!-- End Article -->

    </div>

    <!-- Background map image -->
    <div id="map-image">
      <%= image_tag "pages/contact/map_bck.jpg", alt: "Map" %>
    </div>
  </div>
  <!-- END PAGE | CONTACT -->

  <!-- GOOGLE ANALYTICS -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44061294-1', 'gridelicious.net');
    ga('send', 'pageview');
  </script>
